<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <%= link_to root_path, class: "brand-link" do %>
      <%= image_tag("logo.png", class: "brand-image img-circle elevation-3", style: 'opacity: .8')%>
      <span class="brand-text font-weight-light"><%= I18n.t(:'app.name') %></span>
    <% end %>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
<!--        <div class="user-panel mt-3 pb-3 mb-3 d-flex">-->
<!--            <div class="image">-->
              <%#= image_tag("avatar.png", class: "img-circle elevation-2", alt: 'User Image') %>
<!--            </div>-->
<!--            <div class="info">-->
<!--                <a href="#" class="d-block">Alexander Pierce</a>-->
<!--            </div>-->
<!--        </div>-->

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link <%= 'active' if request.parameters['controller'].eql?('demos') %>">
                        <i class="nav-icon fas fa-train"></i>
                        <p>
                          <%= I18n.t(:'app.group') %>
                          <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                          <%= link_to demo_index_path, class: "nav-link #{'active' if active_link?(:demos, :index)}" do %>
                            <i class="fas fa-list nav-icon"></i>
                            <p><%= I18n.t(:'demo.index') %></p>
                          <% end %>
                        </li>
                        <li class="nav-item">
                          <%= link_to demo_form_path, class: "nav-link #{'active' if active_link?(:demos, :form)}" do %>
                            <i class="fas fa-plus nav-icon"></i>
                            <p><%= I18n.t(:'demo.form') %></p>
                          <% end %>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                  <%= link_to root_path, class: "nav-link #{'active' if active_link?(:home, :index)}" do %>
                    <i class="nav-icon fas fa-home"></i>
                    <p>
                      <%= I18n.t(:'home.title') %> <!-- <span class="right badge badge-danger">New</span>-->
                    </p>
                  <% end %>

                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>